.App {
  padding: 80px 160px;
}

.App .addNote {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.App .addNote .input {
  width: 100%;
  margin-right: 24px;
}

.button {
  width: 150px;
  background: green;
  color: white;
}

.ant-card-head {
  background-color: black !important;
  color: white !important;
}

.ant-card-body {
  font-size: 16px;
}

.card-extra{
  display: flex;
}

.card-extra .ant-btn {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}